:root {
  --input-padding: 0.5rem;
  --input-padding-rounded: 0.5rem 1rem;
  --input-color: #222;
  --input-color-error: #e74c3c;
  --input-color-success: #1abc9c;
  --input-background-color: transparent;
  --input-border-radius: 0.25rem;
  --input-border-radius-rounded: 2rem;
  --input-border-color: #222;
  --input-border-color-error: #e74c3c;
  --input-border-color-success: #1abc9c;
  --input-border-width: 3px;
}

.input  {
  padding: var(--input-padding);
  color: var(--input-color);
  background-color: var(--input-background-color);
  border-radius: var(--input-border-radius);
  border-color: var(--input-border-color);
  border-width: var(--input-border-width);
  border-style: solid;
}

input[type="color"].input {
  padding: 0;
  cursor: pointer;
}

.input:active,
.input:focus {
  outline: none;
}

.input.input--error {
  color: var(--input-color-error);
  border-color: var(--input-border-color-error);
}

.input.input--success {
  color: var(--input-color-success);
  border-color: var(--input-border-color-success);
}

.input.input--rounded {
  padding: var(--input-padding-rounded);
  border-radius: var(--input-border-radius-rounded);
}
