:root {
  --button-padding: 0.5rem 1rem;
  --button-color: var(--color-primary-contrast);
  --button-color-error: var(--color-danger-contrast);
  --button-color-success: var(--color-success-contrast);
  --button-font-size: 1.25rem;
  --button-background-color: var(--color-primary);
  --button-background-color-error: var(--color-danger);
  --button-background-color-success: var(--color-success);
  --button-border-color: var(--color-primary);
  --button-border-width: 3px;
  --button-border-radius: 0.25rem;
  --button-border-radius-rounded: 2rem;
}

.button {
  margin: 0;
  padding: var(--button-padding);
  color: var(--button-color);
  font-size: var(--button-font-size);
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  border-style: solid;
  cursor: pointer;
  transition: all 0.2s;
}

.button:active {
  transform: scale(0.95);
}

.button.button--secondary {
  color: var(--color-secondary-contrast);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.button.button--tertuary {
  color: var(--color-tertuary-contrast);
  background-color: var(--color-tertuary);
  border-color: var(--color-tertuary);
}

.button.button--error {
  color: var(--button-color-error);
  background-color: var(--button-background-color-error);
  border-color: var(--button-background-color-error);
}

.button.button--success {
  color: var(--button-color-success);
  background-color: var(--button-background-color-success);
  border-color: var(--button-background-color-success);
}

.button.button--error.button--outline {
  color: var(--button-background-color-error);
  border-color: var(--button-background-color-error);
}

.button.button--success.button--outline {
  color: var(--button-background-color-success);
  border-color: var(--button-background-color-success);
}

.button.button--rounded {
  border-radius: var(--button-border-radius-rounded);
}

.button.button--rounded {
  border-radius: var(--button-border-radius-rounded);
}

.button.button--outline {
  background-color: transparent;
  color: var(--button-background-color);
  border-color: var(--button-background-color);
}

.button.button--clear {
  background-color: transparent;
  color: var(--button-background-color);
  border-color: transparent;
}
