:root {
  --color-dark: #111;
  --color-dark-1: #222;
  --color-dark-2: #333;
  --color-dark-3: #444;
  --color-gray: #ccc;
  --color-gray-1: #bbb;
  --color-gray-2: #aaa;
  --color-gray-3: #999;
  --color-gray-4: #666;
  --color-light: #fff;
  --color-light-1: #f2f2f2;
  --color-light-2: #f4f4f4;
  --color-light-3: #f9f9f9;
  --color-danger: #e74c3c;
  --color-danger-contrast: var(--color-light);
  --color-success: #1abc9c;
  --color-success-contrast: var(--color-light);
  --color-warning: #f39c12;
  --color-warning-contrast: var(--color-light);
  --color-primary: royalblue;
  --color-primary-contrast: var(--color-light);
  --color-secondary: teal;
  --color-secondary-contrast: var(--color-light);
  --color-tertuary: purple;
  --color-tertuary-contrast: var(--color-light);
  --color-background: var(--color-light);
  --color-background-contrast: var(--color-dark);
  --color-background-secondary: var(--color-light-1);
  --color-background-secondary-contrast: var(--color-dark-1);
  --color-background-tertuary: var(--color-light-3);
  --color-background-tertuary-contrast: var(--color-dark-3);
  --color-transparent: rgba(0, 0, 0, 0.15);
  --color-transparent-contrast: rgba(255, 255, 255, 0.85);
  --color-transparent-secondary: rgba(0, 0, 0, 0.5);
  --color-transparent-secondary-contrast: rgba(255, 255, 255, 0.1);
  --color-transparent-tertuary: rgba(0, 0, 0, 0.85);
  --color-transparent-tertuary-contrast: rgba(255, 255, 255, 0.15);
}
